.shortlink-container {
  margin: 0 0 10px 10px;
  font-size: 13px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.shortlink-label {
  color: var(--primary-medium);
}

.shortlink-url {
  background: var(--primary-low);
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.shortlink-url.copied {
  color: var(--success);
}