.shortlink-modal-body {
  padding: 10px 0;

  .shortlink-input {
    width: 100%;
    font-size: 1.2em;
    padding: 8px;
    border: 1px solid var(--primary-low);
    background: var(--secondary);
    color: var(--primary);
    display: block;
    cursor: default;
    box-sizing: border-box;
  }
}